.card-main {
    background-color: rgb(223, 223, 223);
    text-align: left;
    border-radius: 5px;
    border: 10px rgb(0, 0, 0);
    padding: 5px;
    margin:5px;
    .heading {
      font-size: 20px;
      font-weight: bolder;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      // color: red;
      li {
        list-style: none;
      }
      .btn-label {
        color: red;
      }
    }
    .desc {
      font-size: 13px;
    }
    .time-date{
        display: flex;
        justify-content: space-between;
        color: grey;
        font-size: small;
    }
  }
  