.main-page-div {
  background-color: grey;
  min-width: 100vw;
  min-height: 100vh;
  .MuiIconButton-root {
    background-color: white;
  }
  .MuiIconButton-root:hover {
    background-color: wheat;
  }
  .add-btn {
    position: fixed;
    right: 35px;
    bottom: 35px;
  }
  .sliding-pane-div {
    position: fixed;
  }
  .slide-pane__header{
      display: none;
  }
}

.some-custom-class{
    // background-color: red;
}
.some-custom-overlay-class{
    font-weight: bolder;
    text-align: center;
}
.input-fields{
    display: flex;
    flex-direction: column;
}
.space{
    height: 20px;
}
.row-no-margin {
  margin-left: 0px !important;
  margin-right: 0px !important;
} 
